<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
{% if site.data.config.favicon_path %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.config.favicon_path }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.data.config.favicon_path }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.data.config.favicon_path }}/favicon-16x16.png">
<link rel="manifest" href="{{ site.data.config.favicon_path }}/site.webmanifest">
<link rel="mask-icon" href="{{ site.data.config.favicon_path }}/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.data.config.favicon_path }}/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ site.data.config.favicon_path }}/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{% endif %}

{% if site.og_image_override %}
<meta property="og:image" content="{{ site.og_image | absolute_url }}">
{% endif %}

{% if site.head_styles %}
  {% for style in site.head_styles %}
    <link rel="stylesheet" href="{{ style | relative_url }}">
  {% endfor %}
{% endif %}

<!-- end custom head snippets -->
