{% assign navigation = site.data.navigation[include.nav] %}
{% assign navtype = include.navtype || "ul" %}

<nav class="nav__list">
  {% if include.showtitle == "true" %}
    {% if page.sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ page.sidebar.title }}</h3>{% endif %}
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</label>
  {% endif %}
  <ul class="nav__items" style="max-height: 100% !important; opacity: 1 !important;">
    {% for nav in navigation %}
      {% if include.childrenFor == nav.url %}
      <li>
        {% if include.showtitle == "true" %}
          {% if nav.url %}
            {% comment %} internal/external URL check {% endcomment %}
            {% if nav.url contains "://" %}
              {% assign domain = "" %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}

            <a target="{{ nav.target }}" href="{{ nav.url }}"><span class="nav__sub-title">{{ nav.title }}</span></a>
          {% else %}
            <span class="nav__sub-title">{{ nav.title }}</span>
          {% endif %}
        {% endif %}

        {% if nav.children != null %}
        <{{ navtype }}>
          {% for child in nav.children %}
            {% comment %} internal/external URL check {% endcomment %}
            {% if child.url contains "://" %}
              {% assign domain = "" %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}

            {% comment %} set "active" class on current page {% endcomment %}
            {% if child.url == page.url %}
              {% assign active = "active" %}
            {% else %}
              {% assign active = "" %}
            {% endif %}

            <li {% if include.navstyle %} style="{{ include.navstyle }}" {% endif %}><i><a target="{{ child.target }}" href="{{ child.url }}" class="{{ active }}">{{ child.title }}</a></i>{% if child.description != null %} - {{ child.description }}{% endif %}</li>
          {% endfor %}
        </{{ navtype }}>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
