{% if include.block.show %}
<div align="center" style="margin: 1em 0;">
    <script async src="{{ include.block.url }}"></script>
    <ins class="adsbygoogle"
         style="{{ include.block.style }}"
         data-ad-client="{{ include.block.client }}"
         data-ad-slot="{{ include.block.slot }}"
         data-ad-format="{{ include.block.format }}"
         data-full-width-responsive="{{ include.block.responsive }}"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{% endif %}